APP_ENV=local
NODE_ENV=development
PORT=3010
DATABASE_URL=postgresql://user@127.0.0.1/start
REDIS_URL=redis://localhost:6379
SESSION_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
