APP_ENV=local
PORT=3000
DATABASE_URL=postgresql://user@127.0.0.1/start
REDIS_URL=rediss://default:password@host.upstash.io:6379
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PEXELS_API_KEY=
